body {
  font-family: "Fira Code", "PingFangTC", "Microsoft JhengHei", sans-serif;
  font-size: 20px;
}

.container {
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}
